<!doctype html>
<html>
    <head  lang="en">
        <title>URL Shortener</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <main class="main container-fluid">
            <section class="main__header row">
                <i class="fa fa-link fa-lg link-icon" aria-hidden="true"></i>
                <h1>URL Shortener</h1>
            </section>
            <section class="row">
                <form class="form-inline col-xs-12 enter-url-form">
                    <div class="form-group mx-sm-3">
                        <label for="url" class="sr-only">Url</label>
                        <input type="text" class="form-control form-control-lg url-input" id="url" placeholder="Paste url here...">
                    </div>
                    <button class="btn btn-primary btn-lg btn-shorten">Shorten</button>
                </form>
            </section>
            <h3 id="short-url" class="short-url"></h3>
        </main>
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/9f06d22935.js"></script>
        <script src="scripts/script.js"></script>
    </body>
</html>
