body {
    height: 100%;
    background-color: #e9ecef;
}

.main {
    padding-top: 15vh;
    min-height: 100vh;
}

@media (min-width: 576px) {
    .main {
        padding-top: 9.375rem;
    }
}

.link-icon {
    margin-bottom: 24px;
    font-size: 2.5em !important;
}

.enter-url-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.enter-url-form__url-input {
    width: 100%;
}

.enter-url-form__url-form-group {
    width: 100%;
}

@media (min-width: 576px) {
    .enter-url-form {
        display: flex;
        flex-direction: row;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.main__title {
    margin-bottom: 3.375rem;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#short-url {
    display: none;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.75rem;
    word-break: break-all;
}

#short-url a {
    font-size: 1em;
}
